# Ignore sensitive data files
BlogApi/appsettings.Development.json
BlogApi/appsettings.Production.json
.env

#.NET Core
bin/
obj/

# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
